.Courses {
  background-image: url('/Ilya.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.container {
  padding: 2rem;
}

h2.mb-3 {
  text-shadow: 2px 2px 4px #000000;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  border: none;
}

.list-group-item h3 {
  color: #ffffff;
}

.btn-primary,
.btn-danger {
  margin-left: 1rem;
  border: none;
  box-shadow: 2px 2px 4px #000000;
  transition: background-color 0.3s;
}

.btn-primary:hover,
.btn-danger:hover {
  background-color: #555;
}

input[type="text"],
textarea {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  border: 1px solid #888888;
  margin-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #cccccc;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #bbb;
  box-shadow: none;
}

.btn-create-course {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s;
}

.btn-create-course:hover {
  background-color: #218838;
}
