.body-text {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.Home {
  background-image: url('/Tian.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
